.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 26px;
  padding: 32px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin: 0px;
}

.App-intro {
  font-size: large;
}

.All-letters {
  width: 480px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}

.GuessWord-container {
  display: flex;
  justify-content: space-around;
  margin: 0px auto;
  width: 480px;
}

.GuessWord-letter {
  border-bottom: 1px solid black;
}


.Letter {
  cursor: pointer;
}
